<p id="notice"><%= notice %></p>

<h1>Restaurant Menus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_menus.each do |restaurant_menu| %>
      <tr>
        <td><%= restaurant_menu.name %></td>
        <td><%= link_to 'Show', restaurant_menu %></td>
        <td><%= link_to 'Edit', edit_restaurant_menu_path(restaurant_menu) %></td>
        <td><%= link_to 'Destroy', restaurant_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant Menu', new_restaurant_menu_path %>
