
  <h1>Perfil</h1>

  <table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">Nome</th>
      <td><%= @user.name %> 
      <% if @user.manager.present? %>
        <span class="badge badge-danger">Gerente</span>
      <% elsif @user.employee.present? %>
        <span class="badge badge-warning">Funcionario</span>
      <% else %>
        <span class="badge badge-success">Usuario</span>
      <% end %> 
      </td>
    </tr>
    <tr>
      <th scope="row">Telefone</th>
      <td><%= @user.telephone %></td>
    </tr>
    <tr>
      <th scope="row">E-mail</th>
      <td><%= @user.email %></td>
    </tr>
    <% if @user.manager.present? %>
      <% if @user.restaurant.present? %>
        <tr>
          <th scope="row">Restaurante</th>
          <td><a href="/restaurant"><%= @user.restaurant.name %></a></td>
        </tr>
      <% end %>
    <% elsif @user.employee.present? %>
      <% if @user.employee.restaurant.present? %>
        <tr>
          <th scope="row">Restaurante</th>
          <td><a href="/restaurant"><%= @user.employee.restaurant.name %></a></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

  <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-primary" %>

