
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
  <h2>Log in</h2>
  <div class="form-group">
    <%= f.label :email, for: "email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "email", placeholder: "Digite o seu e-mail", required: "true" %>
  </div>

  <div class="form-group">
    <%= f.label "Senha", for: "password" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "password", placeholder: "Digite sua senha", required: "true" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <%= f.submit "Entrar", class: "btn btn-primary btn-lg btn-block"%>

  <br>

  <%= content_tag(:div, flash[:error], :id => "flash_error", :class => "alert alert-danger", :role => "alert") if flash[:error]%>
  <%= content_tag(:div, flash[:notice], :id => "flash_notice", :class => "alert alert-danger", :role => "alert") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], :id => "flash_alert", :class => "alert alert-danger", :role => "alert") if flash[:alert] %>

  <%= render "devise/shared/links" %>
<% end %>
