<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nome" %>
    <%= form.text_field :name, class: "form-control", id: "name" %>
  </div>

  <div class="form-group">
    <%= form.label "Descricao" %>
    <%= form.text_area :description, class: "form-control", id: "name" %>
  </div>

  <div class="form-group">
    <%= form.label "Data" %>
    <%= form.date_field :dish_date, class: "form-control", id: "name" %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo" %>
    <%= form.text_field :food_type, class: "form-control", id: "name" %>
  </div>

  <div class="form-group">
    <%= form.label "Preco" %>
    <%= form.number_field :price, class: "form-control", id: "name" %>
  </div>

  <%= form.submit "Salvar", class: "btn btn-success" %>
  <a href="/item" class="btn btn-secondary">Cancelar</a>

<% end %>
