<!DOCTYPE html>
<html lang="pt" style="overflow-y: scroll;">
  <head>
    <title>CardapioDoDia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "bootstrap-social" %>
    <%= stylesheet_link_tag "font-awesome" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Cardapio do Dia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <% if user_signed_in? %>
              <a class="nav-link" href="/profile"><%=current_user.name%><span class="sr-only">(current)</a></span>
            <% else %>
              <a class="nav-link" href="/users/sign_in">Entrar<span class="sr-only">(current)</span></a>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Cadastro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Opcoes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if (user_signed_in? && current_user.restaurant.nil?) && !current_user.employee.present? %>
                <a class="dropdown-item" href="/restaurants/new">Tornar-se um gerente</a>
              <% elsif user_signed_in? %>
                <a class="dropdown-item" href="/restaurant">Gerenciar restaurante</a>
              <% else %>
                <a href="/users/sign_in" class="dropdown-item">Entre para mais opcoes</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/about">Sobre</a>
            </div>
          </li>
        </ul>

        <a data-method="delete" class="nav-item nav-link btn btn-danger" href="/users/sign_out">Sair</a>
      </div>
    </nav>
    <br>

    <main role="main" class="container">
      <% if notice %>
        <div class="alert alert-primary" role="alert">
          <p id="notice"><%= notice %></p>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <!-- TODO: resolver essa gambers -->
    <br><br><br><br><br><br><br><br>

  <div class="footer-margin">
  <footer class="card-footer bg-dark footer-font-style text-muted footer-position" style="text-align:center">
      <div class="container">
        <span class="text-muted">Cardapio do Dia, feito por Aurelio Vinicius. CSM41 - Desenvolvimento de Aplicacoes Web UTFPR 2018/2.</span>
        <!--
        TODO: github icon link
        <a class="btn btn-social-icon btn-github float-right">
          <span class="fa fa-github"></span>
        </a>
        -->
      </div>
  </footer>
  </div>
  </body>
</html>

